@using Model.Library

@{
    List<Proxy.Library.SOAPLibrary.SearchingBookViewModel> bookList = ViewData["BookList"] as List<Proxy.Library.SOAPLibrary.SearchingBookViewModel>;
}

<table class="table table-hover">
    <thead>
        <tr class="table-active table-primary">
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Quantity</th>
            <th scope="col">Avaiability</th>

        </tr>
    </thead>
    <tbody>
        @{ foreach (var item in bookList)
            {
                <tr class="table-active">
                    <td>@item.Title</td>
                    <td>@item.AuthorName @item.AuthorSurname</td>
                    <td>@item.PublishingHouse</td>
                    <td>@item.Quantity</td>
                    <td>@{if (item.Avaiability == true)
                        {
                            <span>disponibile</span>
                        }
                        else
                        { <span>disponibile dal @item.FirstAvailability</span>}
                    }</td>

                </tr>

            } }
    </tbody>
</table>